@charset "UTF-8";

body{
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}
h1{
    color: darkred;
    background-color: aqua;
}
h2{
    color: darkgreen;
}
p{
    text-align: center;
}