@charset'UTF-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* O que significa isso? */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,body{
    height: 100vh;
}

body{
    /* Adicionar o background*/
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinhamento Horizontal*/
    /*justify-content: center; /*Sem necessidade porque o alinhamento é horizontal*/
    text-align: center;
}

section{
    margin: 0px 10px;
    padding: 10px;
}

section#info{
    width: 600px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

section p{
    margin: 10px;
    margin-bottom: 0px;
    color:blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}

section.opcoes{
    width: 500px;
    color: rgb(31, 31, 148);
}

.foto{
    justify-content: space-around;
    /* Funções para deixar a foto redonda */
    shape-outside: circle();
    clip-path: circle();
}

h1{
    text-align: center;
    font-size: 3em;
}

.lista{
    list-style: none;
    text-align: left;
}

img#img-git{
    height: 50px;
    width: 50px;

    display: flex;
    justify-content: right;
}

.lista-link{

    display: flex;
    justify-content: left;
    padding: 20px 100px 20px 10px;
    margin: 0.4em 0;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 1.2em;
    background-image: linear-gradient(to right, rgb(76, 76, 207), rgb(103, 103, 255));
    color: white;
    font-size: 1.7em;
    text-decoration: none;
}

footer p{
    text-align: center;
    font-size: 1em;

}
