@charset'UTF-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* O que significa isso? */
}

html{
    height: 100vh;
}

body{
    /* Adicionar o background*/
}

a{
    text-decoration: none ;
}

#container{
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center; /* Alinhamento Vertical */
    align-items: center; /* Alinhamento Horizontal*/
}

.foto{
    justify-content: space-around;
    shape-outside: circle();
    clip-path: circle();
}

h1{
    text-align: center;
}

.lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 2em 0;
    gap: 3em;
    background-color: aliceblue;
}

.lista-item{
    display: flex;
    border-radius: 2em;
}

.lista-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}
