@charset'UTF-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* O que significa isso? */
}

html{
    height: 100vh;
}

body{
    /* Adicionar o background*/
}

a{
    text-decoration: none ;
}

#container{
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center; /* Alinhamento Horizontal*/
    text-align: center;
    /* justify-content: center; Sem necessidade porque o alinhamento é horizontal*/
}

section p{
    color:blue;
}

.foto{
    justify-content: space-around;
    /* Funções para deixar a foto redonda */
    shape-outside: circle();
    clip-path: circle();
}

h1{
    text-align: center;
}

.lista{
    list-style: none;
}

.lista-item{
    display: flex;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2em;
    
    background-color: yellow;
    margin: 2em 0;
    gap: 3em;

}

.lista-link{
    border: 1px solid black;
    color: red;
    text-align: center;
    flex-grow: 1;
}
